@font-face {
    font-family: "Gilroy-Bold";
    src: url("fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
    font-family:"Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.woff") format("woff");
}

body {
    background-color: #ffffff;
    font-family: "Gilroy-Bold";
    padding-top: 32px;
    padding-bottom:32px;

}

.menu-itemone{
    color: #070707;
    size:18px;
    width: 49px;
    height: 23px;
    top: 32px;
    left: 252px;
}


.container {
    width: 940px;
    margin: 0 auto;
   
}

.container1{
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #828282;
    padding-bottom: 32px;
}

.info{
   margin: 0 auto;
   width: 1445px;
   display: flex;
   justify-content: space-between;
   width: 50%;
  
}


a{
    
    text-decoration: none;
    color:#828282 ;
    font-family: "Gilroy-Bold";
    
}

.foto {
    text-align: center;
    padding-bottom: 104px;
    padding-top: 0%;

}


.skills{
    justify-content:space-between;
    text-align: center;
    display: flex;
    margin-bottom: 110px;
}




h1 {
    font-family: "Gilroy-Bold";
}

.letter{
    color: #070707;
    font-family: "Gilroy-Bold";
}

.about {
    text-align: center;
    margin-bottom: 198px;
    background-color: #F6F6F6;
    padding-bottom: 107px;
    padding-top: 120px;

}

.forward {
    font-size: 18px;
    font-family:"Gilroy-Medium";
    margin: 0 auto;

    
}

.h2 {
    line-height: 42px;
    size: 34px;
    text-align: center;
    font-family: "Gilroy-Bold";

}



.novik {  
    font-size:47px;
    
}

.UK{
  margin-top: 100px;
   margin-bottom:50px;
   margin-right: 55px;
   font-family:"Gilroy-Medium";
 
}

.lenguage{

    padding-top: 105px;
    font-size: 16px;
transform:rotate(-90deg);
font-family: "Gilroy-Bold";
}



/*.franc{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
   width: 50%;*/
  




.class {
    margin-bottom: 87px;
    margin-top: 69px;
    text-align: center;
    font-size: 18px;
    font-family:"Gilroy-Medium";
}

.about2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Gilroy-Bold";
}

.port {
    text-align: center;
    color: #070707;
    background-color: #F6F6F6;
    padding-top: 203px;
    font-family: "Gilroy-Bold";

}

.portfolio {
    border-top: 112px;
    border-bottom: 47px;
    font-size: 34px;
    font-family: "Gilroy-Bold";

}

.Braun {
    padding-top: 45px;
    font-size: 18px;
    padding-bottom: 96px;
    text-decoration-line: underline;
    font-family:"Gilroy-Medium";
}

.reebok {
    font-size: 18px;
    text-decoration-line: underline;
    margin-top: 44px;
    margin-bottom: 99px;
    font-family:"Gilroy-Medium";
}

.online {
    font-size: 18px;
    text-decoration-line: underline;
    margin-top: 44px;
    margin-bottom: 99px;
    font-family:"Gilroy-Medium";
} 
 

.Contacts{
    font-size: 34px;
    text-align: center;
    padding-top: 114px;
    font-family: "Gilroy-Bold";
}

.perple{
    font-size: 18px;
    text-align: center;
    padding-bottom:123px;
    font-family:"Gilroy-Medium";
}

.click{
    background: #070707;
    padding: 18px 60px;
    color:#ffffff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    margin-bottom: 91px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 42px;
}

.insta{
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    width:388px;
}

.like{
    text-align: center;
    color: #828282;
    margin-top:45px;
    padding-bottom: 123px;
    font-family:"Gilroy-Medium";
    size: 14px;
}

.Group{
    margin: 0 auto;
    width: 1566px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.Adobe{
    margin: 0 auto;
    width:1566px;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
    width: 100%;
    color:#828282 ;
}



.star{
    /*margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    width: 100%;*/
    display: flex;
    justify-content: space-between;
    width: 79%;
    padding-bottom:110px;
    padding-left: 285px;

}
    

/*.star2{
    display: flex;
    width:8%;
    margin: 0 600px;
    justify-content:space-between; 
    line-height: 10px;  

}*/